trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: |
      npm install -g newman
    displayName: 'Install Newman'

  - script: |
      mkdir -p test-results
      newman run Reqres.in.postman_collection.json \
        --environment reqres.postman_environment.json \
        --reporters cli,junit \
        --reporter-junit-export test-results/postman-results.xml
    displayName: 'Run ReqRes Postman Collection'

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'test-results/postman-results.xml'
      testRunTitle: 'ReqRes API Tests'
    condition: succeededOrFailed()
    displayName: 'Publish Test Results'
